.top {
    position: fixed;

    width: 100%;
}

.title-container {
    width: fit-content;
    display: inline-block;
}

.title {
    font-family: "Anonymous Pro";
    text-decoration: none;
    background-image: linear-gradient(to right, #FF512F, #DD2476);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}

.title:hover,
.title:focus,
.title:active {
    background-size: 100% 0.1em;
    background-position-x: 0%;
}

body {
    background-color: #23262c;
    height: 2000px;
}

.progress-container {
    display: inline-block;
    margin-left: 50%;
    width: 20%;
    height: max-content;
}
  
.progress-bar {
    height: 8px;
    background-image: linear-gradient(to right, #FF512F, #DD2476);
    width: 0%;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-button {
    width: 100px;
    height: 100px;
}

::-webkit-scrollbar-thumb {
    background: #dddddd;
    border: 0px none;
}

::-webkit-scrollbar-thumb:hover {
    background: #1111;
}

::-webkit-scrollbar-thumb:active {
    background: #F05454;
}

::-webkit-scrollbar-track {
    border: 0px none;
}

::-webkit-scrollbar-corner {
    background: transparent;
}