.title {
    font-family: "Anonymous Pro";
    position: fixed;
}

.title:hover {
    background-color: white;
}

body {
    background-color: #23262c;
    height: 2000px;
}

.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
    position: fixed;
}
  
  .progress-bar {
    height: 8px;
    background: #4caf50;
    width: 0%;
}