.top {
    position: fixed;

    width: 100%;
}

.title-container {
    width: fit-content;
}

.title {
    font-family: "Anonymous Pro";
    text-decoration: none;
    background-image: linear-gradient(to right, #FF512F, #DD2476);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}

.title:hover,
.title:focus,
.title:active {
    background-size: 100% 0.1em;
    background-position-x: 0%;
}

body {
    background-color: #23262c;
    height: 2000px;
}

.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}
  
  .progress-bar {
    height: 8px;
    background: #4caf50;
    width: 0%;
}