.top {
    position: fixed;
    width: 100%;
}

.top-length {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title-container {
    width: 100%;
    display: inline-block;
}

.title {
    display: inline;
    color: #000000;
    margin: 0%;
    font-family: "Anonymous Pro";
    text-decoration: none;
    background-image: linear-gradient(to right, #FF512F, #DD2476);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}

.main {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 60px;
}

.title:hover,
.title:focus,
.title:active {
    background-size: 100% 0.1em;
    background-position-x: 0%;
}

a {
    display: inline;
}

body {
    background-color: #24262B;
    height: 2000px;
}

img {
    width: 30px;
    height: 30px;
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
@keyframes rotate {
    to {
      transform: rotate(360deg);
    }
}

.progress-container {
    margin: 0%;
    width: 100%;
}
  
.progress-bar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 5px;
    background-image: linear-gradient(to right, #FF512F, #DD2476);
    width: 0%;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-button {
    width: 100px;
    height: 100px;
}

::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border: 0px none;
}

::-webkit-scrollbar-thumb:hover {
    background: #FFFFFF;
}

::-webkit-scrollbar-thumb:active {
    background-image: linear-gradient(#FF512F, #DD2476);
}

::-webkit-scrollbar-track {
    border: 0px none;
}

::-webkit-scrollbar-corner {
    background: transparent;
}